.nav {
    list-style: none;
    text-align: left; /* Added a semicolon at the end */
    margin-bottom: auto;
    margin-top: auto;
    overflow: hidden
}
.container {
    background-color: rgb(83, 71, 71); 
    border: 5px solid rgba(0, 0, 0, 0.555);
    border-radius: 10px;
    box-shadow:  0px 0px 15px  rgb(110, 106, 128) inset;
} 
    

.nav a {
    color: rgb(150, 169, 185);
    text-decoration: none;
}
.nav li {
    /* this is the backround color for the mian box */
    float: left;
    display: list-item;
    margin-right: 20px; 
    margin-left: auto; 
    padding: 10px;
    
}

.nav li {
    /* this is the text */
    color:rgb(75, 105, 132);  
}
li a:hover:not(.home) {
    background-color: #518fd1d4;
    padding: 10px;
    border-radius: 10px;
    box-shadow:  0px 0px 10px  rgb(68, 51, 144) inset;
    
  }
  .home {
    background-color: #4462c6;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow:  0px 0px 10px  rgb(120, 116, 138) inset;
  }  

.cats {
    display: inline;
    border: 100px solid #ca2f2f;
    border-radius: 50px;
    
}
.toptext {
    align-items: center;
}
.mewithbike {
    display: block;
    margin-left: auto;
    margin-right: auto;
        
}
.funbody {
    background-color: antiquewhite;

}
.main-text {
    color: white;
  text-shadow: 2px 2px 4px #000000;
}





